

.container{
  width: 75%;
  margin: 8% auto;


}
section {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 0.5rem;
}
.item{
  font-size: 1.2rem;
  color: #143444;
}
.heading
{
  background-color: #143444;
  font-size: 1.5rem;
  color:#Fff
}
.fa-trash {
  color: red;
  font-size: 1.5rem;
  cursor: pointer;

}
.fa-minus, .fa-plus{
  background-color: blue;
  color: #fff;
  padding: 0.1rem;
  cursor: pointer;
}
/** MAIN**/
main{
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
.btn{
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 15px;
  color:#fff;
  background: #143444;
  border-radius: 5px;
  cursor: pointer;
  padding:10px 25px;
  text-decoration: none;
  outline: none;
  border:none;
  margin-left: 20px;
}
.btn:hover{
  background: #F6EE99;;
  letter-spacing: 1px;
  color: #143444;

}
