<body>


  <!--main-->
   <main class="container" id="container"  >
     <section class="heading">
       <div > اسم المنتج</div>
       <div>السعر</div>
       <div>صورة</div>
       <div>الكمية</div>
       <div>حذف</div>


     </section>
      <section  *ngFor="let item of CartItem">


        <div class="item"> {{item.productName}}</div>
        <div class="item">{{item.price}}</div>
        <div class="item ">  <img src="http://elsaman-001-site1.atempurl.com/{{item.imageUrl}}" class="tableImg" alt=""></div>
        <div class="item">
          <i class="fa-solid fa-minus"  (click)="minus(item.productID!)"></i>
          {{item.qty}}
          <i class="fa-solid fa-plus"  (click)="plus(item.productID!)"></i>
        </div>
        <div><i class="fa-solid fa-trash" (click)="remove(item.id)"></i></div>

      </section>

   </main>
   <button class="btn" routerLink="/order">اطلب الآن</button>
   <button class="btn" (click)="removeAll()">إفراغ السلة</button>


  </body>




