<body>


  <!--main-->
   <main class="container" id="container"  >
     <section class="heading">
        <div>حذف</div>
        <div>السعر</div>
        <div>صورة</div>
        <div>الكمية</div>
        <div > المنتج</div>
       

     </section>
      <section *ngFor="let item of CartItem">

      
        <div><i class="fa-solid fa-trash" (click)="remove(item.id)"></i></div>
        <div class="item">{{item.price}}</div>
        <div class="item ">  <img src="https://localhost:7129/{{item.imageUrl}}" class="tableImg" alt=""></div>
        <div class="item">
          <i class="fa-solid fa-minus"  (click)="minus(item.productID!)"></i>
          {{item.qty}}
           <i class="fa-solid fa-plus"  (click)="plus(item.productID!)"></i>
       </div>
        <div class="item"> {{item.productName}}</div>
       
      </section>

   </main>
   <button class="btn" routerLink="/order">أطلب الآن</button>
   <button class="btn">افراغ السلة</button>


  </body>

  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Image</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of CartItem">
        <td scope="row">{{item.productName}}</td>
        <td><img src="https://localhost:7129/{{item.imageUrl}}" class="tableImg" alt=""></td>
        <td>{{item.qty}}</td>
        <td>{{item.price}}</td>
        <td><i class="fa-solid fa-trash" (click)="remove(item.id)"></i></td>
      </tr>

    </tbody>
  </table> -->



