/* *{
  transition: all .2s linear;
  text-transform: capitalize;

}

a{

  text-decoration: none;
  outline: none;
  border:none;

}

.footer{
  background-color: #143444;
  padding: 0.5rem;
  text-align: center;


}
.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap:1.5rem;
}

.footer .box-container .box h3{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#F6EE99;
}

.footer .box-container .box a{
  display: block;
  padding:.5rem 0;
  font-size: 1rem;
  color:#666;
}

.footer .box-container .box a:hover{
  color:#F6EE99;
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  border-top: .1rem solid rgba(0,0,0,.1);
  font-size: 0.8rem;
  color:#F6EE99;

}

.footer .credit span{
  color:#F6EE99;
} */

.foter {
  text-align: center;
  padding-top: 5px;
  /* padding-bottom: 10px; */

}

.foter h3 {
  color: rgb(197, 181, 183);
}

.foter p {
  color: rgb(197, 181, 183);
}

footer {
  background: rgb(22, 21, 28);
  ;

}


.sthr:hover {
  color: white;
  cursor: pointer;
}

footer .social-icons {
  color:rgb(197, 181, 183);
}

footer .social-icons :hover {
  color: rgb(72, 65, 65);
  cursor: pointer;
}
p{
  margin-bottom: 0;
}