
/* body{
  margin-top:4rem;
  color: #143444;
  text-align: left;
  background-color: #143444;

}

.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 3rem;


}
.card-body h6 {
color: #143444 !important;
}
.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}
#Order{

  width: 100%;
  margin-top: 1rem;
}
#View{
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.9rem;

}
a.btn-info, button.btn{
  background-color: #143444;
  border: #143444 1px;
  color:#f6ee99
}
.progress1{
  background-color:#143444 ;
}
.progress2{
  background-color:#143444 ;
}
.progress3{
  background-color:#143444 ;
}.progress4{
  background-color:#143444 ;
}
.progress5{
  background-color:#143444 ;
}
 */

* {
  margin: 0;
  padding: 0;

}

body{
  background-image: url("/src/assets/janko-ferlic-KwU5Cl0LSXs-unsplash.jpg") ;
  background-repeat: no-repeat;

}
button.btn.btn-secondary{
  background-color: rgb(233, 32, 32);
}
input{
  font-size: 20px;
  margin: 10px 0 15px 0;
  width: 100%;
  height: 3rem;
  border-radius: 18px;
}
div.col-sm-3{
  margin-top: 20px;
}
.card {
  width: 500px;
  height: 35rem;
  background-color: #464040;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  color: #eee;
}
p.name.mt-3{
  color: #eee;
}
.image img {
  transition: all 0.5s
}

.card:hover .image img {
  transform: scale(1.5)
}

.btn {
  height: 140px;
  width: 140px;
  border-radius: 50%
}

.name {
  font-size: 22px;
  font-weight: bold
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.idd1 {
  font-size: 12px
}

.number {
  font-size: 22px;
  font-weight: bold
}

.follow {
  font-size: 12px;
  font-weight: 500;
  /* color: #444444; */
}

.btn1 {
  height: 40px;
  width: 150px;
  border-radius: 10px;
  margin-top: 75px;
  background-color: rgb(233, 32, 32);
  color: #070707;
  font-size: 15px ;
}
.btn1:hover{
  background-color: rgb(90, 93, 95);
  color: #eee;
}
.text span {
  font-size: 13px;
  /* color: #545454; */
  font-weight: 500
}

.icons i {
  font-size: 19px
}

hr .new1 {
  border: 1px solid
}

.join {
  font-size: 14px;
  /* color: #a0a0a0; */
  font-weight: bold
}

.date {
  background-color: #ccc;
}

