<!-- <body>

  <form class="login-form" enctype="multipart/form-data" method="post" [formGroup]="form">
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
      <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
          <button class="btn btn-secondary">
            <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /></button>
          <div class="name mt-3">
            <h4> {{profile.nameEN}}</h4>
            <p class="text-secondary mb-1">{{profile.nameAR}}</p>
            <p class="text-muted font-size-sm">{{profile.phone}}</p>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">الأسم</h6>

            </div>
            <div class="col-sm-9 text-secondary">
              <input formControlName="NameAR" placeholder="أدخل اسمك من فضلك">
            </div>
          </div>

          <hr>

          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">التليفون</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input formControlName="Phone" placeholder="أدخل رقم هاتفك من فضلك ">
            </div>
            <div class=" d-flex mt-2">
              <button class="btn1 btn-dark" target="__blank" (click)="add()">تعديل</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </form>
</body>


 -->

 <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<div class="card" >
  <form class="login-form" enctype="multipart/form-data" method="post" [formGroup]="form">
  <img src="https://i.imgur.com/wvxPV9S.png" alt="John" style="width:100%">
  <h1>{{profile.nameAR}}</h1>
  <p>{{profile.phone}}</p>
  <div *ngIf="isHidden">
    <div class="col-sm-9 text-secondary" >
      <input formControlName="NameAR" placeholder="أدخل اسمك من فضلك" >
    </div>
    <div class="col-sm-9 text-secondary">
      <input formControlName="Phone" placeholder="أدخل رقم هاتفك من فضلك ">
    </div>
  </div>
  <p><button  (click)="add()">تعديل</button></p>
</form>
</div>

</body>
</html>
