@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{

    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}


.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 15px;
    color:#fff;
    background: #143444;
    border-radius: 5px;
    cursor: pointer;
    padding:10px 25px;
}
.btn:hover{
    background: #F6EE99;;
    letter-spacing: 1px;
    color: #143444;
}
.btnDis{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 15px;
    color:#fff;
    background: green;
    border-radius: 5px;
    cursor: pointer;
    padding:10px 25px;
}





.box{
    padding:5px;
    background:#fff;
    border-radius: 10px;
    /* border:.1px solid #143444; */
    box-shadow: 5px 10px 13px rgba(0,0,0,.1);
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 20px;

}


 .box .fa-heart,
 .box .fa-eye{
    position: absolute;
    top:1.5rem;
    background:#eee;
    border-radius: 50%;
    height: 45px;
    width:45px;
    line-height: 40px;
    font-size: 20px;
    color: #143444;
}

 .box .fa-heart:hover{
    background-color: #F6EE99;
    color:red;
}


 .box .fa-eye:hover{
    background: #F6EE99;
    color:#fff;
}

 .box .fa-heart{
    right:-45px;
}

 .box .fa-eye{
    left:-45px;
}

 .box:hover .fa-heart{
    right:20px;
}

 .box:hover .fa-eye{
    left:20px;
}

 .box img{
    height:130px;
    width: 150;
    margin:1px 0;
}

 .box h3{
    color:#143444;
    font-size: 25px;
}
#price{
    margin:0 ;
}
.box h4{
    color: gray;
    font-size: 16px;

}

 .box .stars{
    padding:15px 0;
}

 .box .stars i{
    font-size: 20px;
    color:yellow;
}

 .box div{
    color:#e2d11a;
    font-weight: bolder;
    margin-right: 15px;
    font-size: 25px;
}


@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:1px 2px;
    }

    section{
        padding:20px;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }



}
