<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

		<div class="container">
			<input type="checkbox" id="flip" hidden>

			<form action="#" [formGroup]="registerForm" method="post">
			<div class="form-content" >
			   <div class="login-form">
				   <div class="title">
					تسجيل الدخول
				   </div>
				   <div class="input-boxes">
				  <div class="input-box">
					  <img src="../../../../assets/security.png" style="width: 45px;">
					  <input type="text" placeholder="رقم التليفون" formControlName="email">
				  </div>
				  <div class="input-box">
					  <img src="../../../../assets/icon.png"style="width: 45px;">
					  <input type="password" placeholder="كلمة المرور" formControlName="password">
				  </div>
				  <div class=" button input-box">
					  <input type="submit" value="دخول " (click)="add()">
				  </div>
				  <div class="text sign-up-text"  >ليس لديك حساب؟  <label routerLink="/signup"> سجل الآن</label>
				  </div>
				   </div>

			   </div>




			  </div>


			</form>

			<div class="cover">
				<div class="front">
					<img src="../../../../assets/ادوات-المطبخ-بالصور-4.jpg" alt="">

				</div>
			</div>

		</div>





	   </body>
	   </html>
