<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
	<!-- <form [formGroup]="form" >
<div class="box-form">
	<div class="left">
		<div class="overlay">
			<i class="fas fa-utensils"></i>
			<a href="#" class="logo">Sauce</a>
		</div>
	</div>


		<div class="right" >
		<h5>Login</h5>
		<p>Don't Have An Account? <a style="color:#143444 " href="./Register.html">Creat Your Account</a> it takes less than a minute</p>
		<div class="inputs">
			<input type="text" formControlName="Email" placeholder="User Name">
      <span class="text-danger" *ngIf="form.controls['Email'].hasError('required')">Required Email</span>
      <span class="text-danger" *ngIf="form.controls['Email'].hasError('email')">Must be an Email Patern</span>

			<br>
			<input type="password" formControlName="Password" placeholder="Password">
		</div>

			<br><br>

		<div class="remember-me--forget-password">

	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>Forget Password?</p>
		</div>

			<br>
			<button type="submit"  [disabled]='form.invalid' (click)="add()" >Login</button>
	</div>

</div>

</form> -->






	<!-- <form class="login-form" [formGroup]="form"method="post">
		<div class="login-wrap">
			<div class="login-html">
				<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
				<label for="tab-1" class="tab">Sign In</label>

				<label for="tab-2" class="tab"> <a routerLink="/UserAPI/SignUp">SignUp</a>
				</label>
				<div class="group">

					<input type="text" class="input" formControlName="Email" placeholder="User Name">
					<br>
					<span class="text-danger" *ngIf="form.controls['Email'].hasError('required')">Required Email</span>
					<span class="text-danger" *ngIf="form.controls['Email'].hasError('email')">Must be an Email
						Patern</span>
				</div>
				<div class="group">
					<input type="password" id="pass" class="input" formControlName="Password" placeholder="Password">
					<span class="text-danger" *ngIf="form.controls['password'].hasError('required')">Required Password</span>

				</div>
				<div class="group">
					<label>
						<br>
						<input type="checkbox" name="item" checked/>
						<br>
						<span class="text-checkbox">Remember me</span>
						<br>
					</label>
							<p>Forget Password?</p>

				</div>
				<div class="group">
					<button type="submit" class="button" [disabled]='form.invalid' (click)="add()" >Login</button>
				</div>
				<div class="hr"></div>

			</div>
		</div>


	</form>

	<script src="~/Content/JS/vendor.js"></script>
	<script src="~/Content/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script> -->
		<div class="container">
			<input type="checkbox" id="flip" hidden>
		  
			<form action="#" [formGroup]="registerForm" method="post">
			<div class="form-content" >
			   <div class="login-form">
				   <h3 style="text-align: center; color: white; ">Welcome Back</h3>
				   <div class="title">
					login
				   </div>
				   <div class="input-boxes">
				  <div class="input-box">
					  <img src="../../../../assets/security.png" style="width: 45px;">
					  <input type="text" placeholder="رقم التليفون" formControlName="email">
				  </div>
				  <div class="input-box">
					  <img src="../../../../assets/icon.png"style="width: 45px;">
					  <input type="password" placeholder="كلمة المرور" formControlName="password">
				  </div>
				  <div class=" button input-box">
					  <input type="submit" value="دخول " (click)="add()">
				  </div>
				  <div class="text sign-up-text"  >ليس لديك حساب؟  <label routerLink="/signup"> سجل الآن</label>
				  </div>
				   </div>

			   </div>




			  </div>


			</form>

			<div class="cover">
				<div class="front">
					<img src="../../../../assets/16.jpg" alt="">
 
				</div>
			</div>

		</div>





	   </body>
	   </html>
