


    <!-- home section starts  -->

    <section  class="home" id="Imghome">

      <div class=" home-slider">

              <div class=" slide">
                  <!-- <div class="content"> -->
                      <!-- <span> Welcome, Foodies</span>
                      <h3>Sauce is always here to serve you.</h3>
                      <p> Sauce is a place that you go to when you can't decide what your next meal. We offer you
                          delicious recipes and well-known restaurants.
                      </p>
                      <a routerLink="/SignUpAs" class="btn">login/register</a> -->

                  <!-- </div> -->
                  <!-- <div class="image"> -->
                      <!-- <img src="../../../assets/home-img-2.png" alt=""> -->
                  <!-- </div>
              </div> -->
      </div>
      </div>
  </section>

  <!-- home section ends -->

  <!-- dishes section starts  -->


  <div style=" background:#eee; ">
      <h3 class="sub-heading">Products </h3>
      <main>

        <section class="dishes" id="dishes" *ngFor="let item of products ">
        <div >
            <app-product-card  [product]="item"></app-product-card>
            </div>
      </section>

      </main>
        </div>

  <!-- dishes section ends -->

  <!-- about section starts  -->

  <!-- <section style="background-color: #143444;" class="about" id="about">

      <h3 class="sub-heading"> about us </h3>
      <h1 class="heading"> why choose us? </h1>

      <div class="row">

          <div class="image">
              <img src="../../../assets/about-img.png" alt="">
          </div>

          <div class="content">
              <h3>best food in the country</h3>
              <p>Sauce is a place that you go to when you can't decide what your next meal. We offer you
                  delicious recipes and well-known restaurants.
              You can find the ingredients of any recipe you want and the steps of how to make it. Also, if you don't want to cook ,
                  well-known restaurants and their recipes are available.  </p>

          </div>

      </div>

  </section> -->

  <!-- about section ends -->

  <!-- meals section starts  -->

  <!-- <section class="menu" id="menu"> -->


    <!-- <div style=" background:#fff; ">
      <h3 class="sub-heading">Restaurants </h3>

        </div> -->



  <!-- meals section ends -->

  <!--Ingredients section starts  -->

  <!-- <section style="background-color: #143444; " class="item"  id="item">

      <h3 class="sub-heading">Ingredients</h3>
      <div  >
          <img src="../../../assets/1.1.png">
            <img src="../../../assets/1.2.png">
             <img src="../../../assets/1.3.png">
                   <img src="../../../assets/1.4.png">
                   <img src="../../../assets/1.5.png">
                  <img src="../../../assets/1.6.png">
                  <img src="../../../assets/1.7.png">
                  <img src="../../../assets/1.8.png">
      </div>
  </section> -->

  <!-- Ingredients section ends -->

  <!-- Restaurant section starts  -->
  <!-- <div style=" background:#eee; height: 30px; ">
</div> -->


  <!-- Restaurant section ends -->



  <!-- custom js file link  -->
