<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

	<div class="container">
    <input type="checkbox" id="flip" hidden>
     <div class="cover">
       <div class="front">
         <img src="../../../../assets/16.jpg" alt="">

       </div>
     </div>
<form action="#" [formGroup]="signUpForm">
	<div class="form-content" >
	   <div class="login-form">
		   <h3 style="text-align: center; color: white; ">Welcome Back</h3>
<div class="SignUp-form">
   <div class="title">
	   Sign Up
   </div>
   <div class="input-boxes">
<div class="input-box">
  <img src="../../../../assets/security.png" style="width: 35px;" >
  <input type="text" placeholder=" الاسم باللغةالعربية" formControlName="nameAr" >
  <br>
	<span style="color:indianred" *ngIf="formSubmitted &&signUpForm.controls['nameAr'].hasError('required')">حقل مطلوب</span>

</div>

<div class="input-box">
  <img src="../../../../assets/security.png" style="width: 35px;" >
  <input type="text" placeholder=" الاسم باللغة الإنجليزية" formControlName="nameEn" >
  <br>
	<span style="color:indianred" *ngIf="formSubmitted &&signUpForm.controls['nameEn'].hasError('required')">حقل مطلوب</span>

</div>
<div class="input-box">
<img src="../../../../assets/5.png" style="width: 35px;" >
<input type="email" placeholder="الايميل" formControlName="email">
<br>
  <span style="color:indianred" *ngIf="formSubmitted &&signUpForm.controls['email'].hasError('email')">ادخل ايميل الكتروني صحيح
    </span>
</div>
<div class="input-box">
  <img src="../../../../assets/5.png" style="width: 35px;" >
  <input type="phone" placeholder="التليفون" formControlName="phone" maxlength="11">
  <br>
				<span style="color:indianred" *ngIf="formSubmitted &&signUpForm.controls['phone'].hasError('required')">حقل مطلوب</span>
  </div>
  <div class="input-box">
	  <img src="../../../../assets/icon.png" style="width: 35px;">
	  <input type="password" placeholder="كلمه المرور" formControlName="password" (change)="onPasswordChange()">
<div>
  <span style="color:indianred" *ngIf="formSubmitted &&signUpForm.controls['password'].hasError('required')">حقل مطلوب</span>
</div>
  </div>
  <div class="input-box">
	  <img src="../../../../assets/icon.png" style="width: 35px;">
	  <input type="password" placeholder="تاكيد كلمه المرور" formControlName="ConfirmPassword" (change)="onPasswordChange()">
    <br>
				<span style="color:indianred" *ngIf="formSubmitted &&signUpForm.controls['ConfirmPassword'].hasError('required')">حقل مطلوب</span>
        <span style="color:indianred" *ngIf="formSubmitted &&confirm_password.hasError('mismatch')"> كلمه المرور غير مطابقه
        </span>
  </div>

    <!-- <input type="file" id="myFile" name="filename" formControlName="image"> -->


  <div class=" button input-box">
	  <input type="submit" (click)="add()" value="تسجيل الدخول" >
  </div>

  <div class="text sign-up-text">Already have an account?<label  routerLink="/login">Login now</label>

   </div>

</div>
</div>
	   </div>
  </div>
</form>
	</div>



</body>






</html>
