body{
  text-transform: capitalize;
}
.sub-heading, .heading{
  color: #143444;
  text-align: center;
}
.order form{
  max-width:90rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border:.1rem solid rgba(0,0,0,.2);
  background:#fff;
  padding:1.5rem;
  margin:0 auto;
}

.order form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order form .inputBox .input{
  width:32%;
  background-color:rgb(236, 38, 38);
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
}

.order form .inputBox .input span{
  display:block;
  padding:10px;
  font-size: 23px;
  color:#fff;
  background-color:rgb(46, 40, 40);
  text-align: center;
  border-radius: 8px;
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
  background:#eee;
  border-radius: .2rem;
  padding:1rem;
  font-size: 1.6rem;
  color:#143444;
  text-transform: none;
  margin-bottom: 1rem;
  width:100%;
}

.btn{
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 15px;
  color:#fff;
  background: black;
  border-radius: 5px;
  cursor: pointer;
  padding:10px 25px;
  outline: none; 
  border:none;    
  
}
.btn:hover{
  background: rgba(248, 4, 4, 0.932);
 
  letter-spacing: 1px;
  color:  #fff;

}
