<body>


  <!--main-->
   <main class="container" id="container"  >
     <section class="heading">
       <div > اسم المنتج</div>
       <div>السعر</div>
       <div>صورة</div>
       <div>حذف</div>


     </section>
      <section  *ngFor="let item of FavtItem">


        <div class="item"> {{item.product_Name}}</div>
        <div class="item">{{item.price}}</div>
        <div class="item ">  <img src="https://localhost:7129/{{item.imageUrl}}" class="tableImg" alt=""></div>
        <div><i class="fa-solid fa-trash" (click)="remove(item.id)"></i></div>

      </section>

   </main>

   <button class="btn" (click)="removeAll()">افراغ المفظلة</button>


  </body>








