
<!-- <div class="navcontainer">
 <nav class="navbar navbar-expand-sm sticky-top navbar-light bg-dark" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand " routerLink="/Home" >الصفحة الرئيسية</a>
        </li>
        <li class="nav-item active">
          <a class="navbar-brand"  routerLink="/Product"> المنتجات</a>
        </li>
        <li class="nav-item active">
          <a class="navbar-brand" routerLink="/Team" > معلومات عن </a>
        </li>
        <li class="nav-item active">
          <i routerLink="/profile" class="fa-solid fa-user" *ngIf="isloog"></i>
        </li>
        <li class="nav-item active">
          <i class="fa-solid fa-arrow-right-from-bracket" (click)="LogOut()" *ngIf="isloog"></i>
        </li>
        <li class="nav-item active">
          <i class="fa-solid fa-door-open"  *ngIf="!isloog" routerLink="/login"></i>
        </li>
        <li>
          <i routerLink="/favorite"  class="fas fa-heart" id="heart"></i>
        </li>
        <li>
          <i routerLink="/Cart" class="fas fa-shopping-cart"></i>
        </li>
      </ul>
          <i class="fas fa-bars" id="menu-bars"></i>
    </div>
</nav>
</div> -->




<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
  <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="navbar-brand " routerLink="/Home" >الصفحة الرئيسية</a>
          </li>
          <li class="nav-item active">
            <a class="navbar-brand"  routerLink="/Product"> المنتجات</a>
          </li>
          <li class="nav-item active">
            <a class="navbar-brand" routerLink="/Team" > معلومات عن </a>
          </li>
          <span style="display: flex;">
            <li class="nav-item active">
              <i routerLink="/profile" class="fa-solid fa-user" *ngIf="isloog"></i>
            </li>
            <li class="nav-item active">
              <i class="fa-solid fa-arrow-right-from-bracket" (click)="LogOut()" *ngIf="isloog"></i>
            </li>
            <li class="nav-item active">
              <i class="fa-solid fa-door-open"  *ngIf="!isloog" routerLink="/login"></i>
            </li>
            <li>
              <i routerLink="/favorite"  class="fas fa-heart" id="heart"></i>
            </li>
            <li>
              <i routerLink="/Cart" class="fas fa-shopping-cart"></i>
            </li>
          </span>
        </ul>
            <i class="fas fa-bars" id="menu-bars"></i>
      </div>
  </div>
</nav>
