
  <!-- <nav class="navs navstyle">
    <div class="cont1">
  <div class="brand">
    <a routerLink="/Cart" class="fas fa-shopping-cart"></a>
    <a routerLink="/favorite"  class="fas fa-heart" id="heart"></a>
    <i class="fa-solid fa-arrow-right-from-bracket" (click)="LogOut()" *ngIf="isloog"></i>
    <i class="fa-solid fa-door-open"  *ngIf="!isloog" routerLink="/login"></i>
    <i routerLink="/profile" class="fa-solid fa-user" *ngIf="isloog"></i>
    <a routerLink="/Home">الصفحة الرئيسية </a>
    <a routerLink="/Product"> المنتجات </a>

   <a routerLink="/Team">معلومات عن</a>
   <i class="fas fa-bars" id="menu-bars"></i>
    <i ></i>
  </div>
    </div>
  </nav> -->

 <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: black;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <a class="navbar-brand " routerLink="/Home">الصفحة الرئيسية</a>
    <a class="navbar-brand"  routerLink="/Product"> المنتجات</a>
    <a class="navbar-brand" routerLink="/Team" > معلومات عن </a>
    <i routerLink="/profile" class="fa-solid fa-user" *ngIf="isloog"></i>
        <i class="fa-solid fa-arrow-right-from-bracket" (click)="LogOut()" *ngIf="isloog"></i>
        <i class="fa-solid fa-door-open"  *ngIf="!isloog" routerLink="/login"></i>
        <a routerLink="/favorite"  class="fas fa-heart" id="heart"></a>
        <a routerLink="/Cart" class="fas fa-shopping-cart"></a>
        <i class="fas fa-bars" id="menu-bars"></i>

  </div>
</nav> -->

 <nav class="navbar navbar-expand-lg bg-light" style="background-color: black;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <a class="navbar-brand " routerLink="/Home">الصفحة الرئيسية</a>
      <a class="navbar-brand"  routerLink="/Product"> المنتجات</a>
      <a class="navbar-brand" routerLink="/Team" > معلومات عن </a>
      <i routerLink="/profile" class="fa-solid fa-user" *ngIf="isloog"></i>
          <i class="fa-solid fa-arrow-right-from-bracket" (click)="LogOut()" *ngIf="isloog"></i>
          <i class="fa-solid fa-door-open"  *ngIf="!isloog" routerLink="/login"></i>
          <a routerLink="/favorite"  class="fas fa-heart" id="heart"></a>
          <a routerLink="/Cart" class="fas fa-shopping-cart"></a>
          <i class="fas fa-bars" id="menu-bars"></i>
    </div>

</nav>
