@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

aside{
    /* background-color: rgba(221, 28, 28, 0.87); */
    height: 100vh;
    font-size: 20px;
    color: rgb(219, 24, 24);
}

.fa-magnifying-glass{
    background-color: rgba(221, 28, 28, 0.87) ;
}
/* aside #search{
    height: 1.6rem;
     width: 12rem;
    margin-left: 25px;
} */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:1px 2px;
    }

    section{
        padding:20px;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }



}


