<main class="row container">
  <!--Filter SideBar-->
  <aside class="col-3 mt-4">
    
    <div class="my-4">
      <input type="text" class="form-control" placeholder="بحث.." #rr (keyup)="getName(rr.value)" (keyup)="getProductByName()"> 
      <!-- <button class="btn btn-primary">
      <i class="fa-solid fa-magnifying-glass" (click)="getProductByName()"></i>
    </button> -->
    </div>

    
    <h5> الأقسام</h5>
    <div *ngFor="let item of Categories">
      <input type="checkbox" class="mx-1" [value]="item.nameAR" #input (change)="getByCategory(input.value)" />
      <label> {{item.nameAR}}</label>

    </div>
    <br>
  </aside>
  <!--Recipes-->
  <div class="col-9">
    <!-- <h3 class="sub-heading">المنتجات</h3> -->
    <!-- <div *ngFor="let y of test">{{y}}</div> -->


    <main class="d-grid">
      <div class="row">
        <section *ngFor="let item of Products
      | paginate : { itemsPerPage: tableSize, currentPage: page, totalItems: count}" class=" col">

          <div >
            <app-product-card [product]="item"></app-product-card>
          </div>
        </section>
      </div>
    </main>
    <div class="d-flex justify-content-center">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>



  </div>
</main>