<head>
  <title>About Us</title>
</head>
<body>
 

  <div class="row">

    <div class="text-center col-6">
        
        <p>
          اكبر معرض للادوات المنزليه والاجهزة الكهربائيه
           وافخم المنتجات العصريه
          ليس لدينا أي فروع أخرى خارج شارع سوريا بجوار المصرية
           للصرافه والمدينه وبجوار برج زغلول
        </p>
    </div>
    <div class="image text-center col-6">
        <img class="card-img" src="../../../assets/حلل وجهه 2.jpg" width="350" height="350" >
    </div>
    
</div>
</body>