
 
<div class="container">
  <div class="row text-center my-5">
    <h2>
      عن المعرض
    </h2>
  </div>
  <div class="row">

    <div class="text-center col-6">
        
        <p>
          أكبر معرض للأدوات المنزلية والأجهزة الكهربائية
           وأفخم المنتجات العصرية
        </p>
    </div>
    <div class=" text-center col-6">
        <img  src="../../../assets/حلل وجهه 2.jpg" width="350" height="350" >
    </div>
    
</div>
<div class="row text-center my-5">
  <h2>
    فروعنا
  </h2>
</div>
<div class="row">
  <ul class="list-group">
    <li>
      <i class="fa-solid fa-location-dot fs-4"></i>
      شارع سوريا - بجوار المصرية للصرافة والمدينة وبجوار برج زغلول.
    </li>
    <li class="alert alert-warning">   
      <i class="fa-solid fa-triangle-exclamation text-warning fs-2"></i>
      ليس لدينا أي فروع أخرى
    </li>
    
  </ul>
</div>
</div>